# Gradle
.gradle/
build/

# Android Studio / IntelliJ
.idea/
*.iml
local.properties
captures/
.externalNativeBuild/
.cxx/
*.jks
*.keystore
*.pk8
*.pem
output.json

# Kotlin
.kotlin/
*.kotlin_module

# Heap dumps
*.hprof

# macOS
.DS_Store

poses/

# Pencil Design files (Optional: keep .pen, ignore backups if any)
# *.pen.backup
